/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2015, 11:21:31 AM
    Author     : priel_000
*/
.p-logo{
    color: black;
    font-family: serif;
    font-size: 24px;
}
.login{
    color: blue;
    text-align: right;
    vertical-align: text-top;
}
.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}
.take-all-space-you-can{
    width:100%;
}
.btn-separator:after {
    content: ' ';
    display: block;
    float: right;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}
.check-reminder{
    color: black;
}
.check-reminder > label{
    display: block;
    padding-left: 145px; //  15px
    text-indent: -15px; // -15px
}
.check-reminder > label > input{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#FB-Button{
    background:url(../img/facebook.jpg) no-repeat;
    cursor:pointer;
    border:none;
    width:50px;
    height:50px;
    background-size: 100%;
}
#TW-Button{
    background:url(../img/twitter.jpg) no-repeat;
    cursor:pointer;
    border:none;
    width:50px;
    height:50px;
    background-size: 100%;
}
#GP-Button{
    background:url(../img/google.jpg);
    background-repeat: no-repeat;
    border:none;
    cursor:pointer;
    width:50px;
    height:50px;
    background-size: 100%;
}

#myform {
    width: 80%;
    margin: 0 auto;
}

#mylabel, #myinput {
    /* in order to define widths */
    display: inline-block;
}

#mylabel {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

#mylabel + #myinput {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
#myinput + #myinput {
    float: right;
}

#expand-link{
    text-align:center;
    margin: 0 auto;
}